<%- include('partials/header', { title: filename }) %>

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-2">
      <h5><%= filename %></h5>
      <div>
        <a class="btn btn-sm btn-outline-secondary"
           href="/api/files/download/<%= gridId %>"
           target="_blank">Abrir</a>
        <a class="btn btn-sm btn-primary"
           href="/api/files/download/<%= gridId %>"
           download>Descargar</a>
      </div>
    </div>

    <iframe
      src="/api/files/download/<%= gridId %>"
      style="width:100%; height:80vh; border:0;">
    </iframe>
  </div>
</div>

<%- include('partials/footer') %>
